#root {
  margin: 0 auto;
  padding: 5vh 10vw;
  text-align: center;
  height: 100dvh;
  max-width: 100vw;
}


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.camera__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.camera__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.camera__stream {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
